<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="sas/style.css">
    <title>Document</title>
</head>

<body>

    <div class="header">
        <div class="navbar">
            <div class="container">
                <ul class="navbar__menu">
                    <li><a href="#"> Главная</a></li>
                    <li><a href="#"> Наши проекты</a></li>
                    <li><a href="#"> Услуги</a></li>
                    <li><a href="#"> Новости</a></li>
                    <li><a href="#"> Контакты</a></li>
                </ul>
            </div>
        </div>
        <div class="header__content">
            <p class="header__text">Передовая IT студия</p>
            <h2 class="header__title">Мы создаем легкие решения
                сложных задач и проблем</h2>
            <button class="header__btn">Наши проекты</button>
        </div>
    </div>
    <div class="mobile">
        <div class="container">
            <h2 class="mobile__title">Мы создаем мобильные приложения
                для крупных корпораций</h2>
            <p class="mobile__text">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem
                Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. </p>
            <div class="mobile__row">
                <div class="mobile__col">
                    <div class="mobile__col__left">
                        <div class="mobile__col11">
                            <div class="mobile__col22">
                                <img src="./img/Group.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="mobile__col__right">
                        <h3 class="mobile__col__title">Создание сайтов</h3>
                        <div class="mobile__col__text">Lorem Ipsum - это текст- "рыба", часто используе в печати и
                            вэб-дизайне.</div>
                    </div>
                </div>
                <div class="mobile__col">
                    <div class="mobile__col__left">
                        <div class="mobile__col11">
                            <div class="mobile__col22">
                                <img src="./img/Group.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="mobile__col__right">
                        <h3 class="mobile__col__title">Создание сайтов</h3>
                        <div class="mobile__col__text">Lorem Ipsum - это текст- "рыба", часто используе в печати и
                            вэб-дизайне.</div>
                    </div>
                </div>
                <div class="mobile__col">
                    <div class="mobile__col__left">
                        <div class="mobile__col11">
                            <div class="mobile__col22">
                                <img src="./img/Group.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="mobile__col__right">
                        <h3 class="mobile__col__title">Создание сайтов</h3>
                        <div class="mobile__col__text">Lorem Ipsum - это текст- "рыба", часто используе в печати и
                            вэб-дизайне.</div>
                    </div>
                </div>
            </div>
            <div class="mobile__btns">
                <button class="mobile__btn">Все услуги</button>
            </div>
        </div>
    </div>
    <div class="standart">
        <div class="container">
            <div class="standart__row">
                <div class="standart__col">
                    <h1 class="standart__title">Высокие стандарты
                        разработки</h1>
                    <p class="standart__text">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                        Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. стандартной
                        "рыбой" для текстов на латинице с начала XVI века. </p>
                    <a href="#">Подробнее о компании</a>
                </div>
                <div class="standart__col">
                    <img src="./img/Rectangle 2.png" alt="">
                </div>
            </div>
            <div class="standart__border"></div>
            <div class="standart__row2">
                <div class="standart__col2">
                    <div class="standart__img">
                        <img src="./img/web-programming.png" alt="">
                        <h1 class="standart__img__title">125</h1>
                    </div>
                    <p class="standart__img__text">Our projects</p>
                </div>
                <div class="standart__col2">
                    <div class="standart__img">
                        <img src="./img/web-programming.png" alt="">
                        <h1 class="standart__img__title">125</h1>
                    </div>
                    <p class="standart__img__text">Our projects</p>
                </div>
                <div class="standart__col2">
                    <div class="standart__img">
                        <img src="./img/web-programming.png" alt="">
                        <h1 class="standart__img__title">125</h1>
                    </div>
                    <p class="standart__img__text">Our projects</p>
                </div>
                <div class="standart__col2">
                    <div class="standart__img">
                        <img src="./img/web-programming.png" alt="">
                        <h1 class="standart__img__title">125</h1>
                    </div>
                    <p class="standart__img__text">Our projects</p>
                </div>
                <div class="standart__col2">
                    <div class="standart__img">
                        <img src="./img/web-programming.png" alt="">
                        <h1 class="standart__img__title">125</h1>
                    </div>
                    <p class="standart__img__text">Our projects</p>
                </div>
            </div>
        </div>
    </div>
    <div class="robot">
        <div class="content">
            <div class="robot__content">
                <h1>Наши работы, на которых
                    мы специализируемся</h1>
                <button>Все услуги</button>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="container">
            <div class="card__content">
                <div class="card__row">
                    <div class="card__col">
                        <img src="./img/Rectangle 2 (1).png" alt="">
                        <h4><a href="#">01.</a> Исследование и упаковка</h4>
                        <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                            является
                            стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
                        <a href="#">Подробнее</a>
                    </div>
                    <div class="card__col">
                        <img src="./img/Rectangle 2 (1).png" alt="">
                        <h4><a href="#">01.</a> Исследование и упаковка</h4>
                        <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                            является
                            стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
                        <a href="#">Подробнее</a>
                    </div>
                    <div class="card__col">
                        <img src="./img/Rectangle 2 (1).png" alt="">
                        <h4><a href="#">01.</a> Исследование и упаковка</h4>
                        <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                            является
                            стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
                        <a href="#">Подробнее</a>
                    </div>
                </div>
                <div class="card__border"></div>
            </div>
        </div>
    </div>
    <DIV class="footer">
        <div class="proekt">
            <div class="container">
                <h2 class="proekt__title">Наши проекты</h2>
                <p class="proekt__text">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem
                    Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. </p>
                <div class="proekt__card">
                    <img src="./img/Rectangle 2.3.png" alt="">
                    <img src="./img/Rectangle 2.3.png" alt="">
                    <img src="./img/Rectangle 2.3.png" alt="">
                    <img src="./img/Rectangle 2.3.png" alt="">
                </div>
                <button class="proekt__btn">Все проекты</button>
            </div>
        </div>
        <div class="vidio">
            <div class="container">
                <h3 class="video__title">Подпишитесь на нашу рассылку</h3>
                <p class="video__text">Полезные статьи, акции, новости - получите все это сейчас!</p>
                <button class="video__btns">Ваш e-mail</button>
                <button class="video__btn">Подписаться</button><br>
                <span class="video__text2">Мы не шлем спам, и передаем никому ваши данные.</span>
            </div>
        </div>
        <div class="menu">
            <div class="container">
                <div class="menu__col">.
                    <ul class="menu__ul">
                        <li class="menu__title">Контактная информация</li>
                        <li class="menu__text"><img src="./img/Group (1).png" alt="">test@test.ru</li>
                        <li class="menu__text"><img src="./img/Group (2).png" alt="">+8 777 555 66 99</li>
                        <li class="menu__text"><img src="./img/placeholder.png" alt="">Москва, Бульвар Ленина 33</li>
                    </ul>
                    <ul>
                        <li class="menu__title">Основные ссылки</li>
                        <li class="menu__text"><img src="./img/Vector.png" alt="">Главная</li>
                        <li class="menu__text"><img src="./img/Vector.png" alt="">Наши проекты</li>
                        <li class="menu__text"><img src="./img/Vector.png" alt="">Наши услуги</li>
                        <li class="menu__text"><img src="./img/Vector.png" alt="">Контакты</li>
                    </ul>
                    <ul>
                        <li class="menu__title">Наши проекты</li>
                        <li class="menu__text"><img src="./img/Vector.png" alt="">РосНано</li>
                        <li class="menu__text"><img src="./img/Vector.png" alt="">Сколково</li>
                        <li class="menu__text"><img src="./img/Vector.png" alt="">Проект “Восток”</li>
                        <li class="menu__text"><img src="./img/Vector.png" alt="">ТЭЦ Калининграда</li>
                    </ul>
                    <ul>
                        <li class="menu__title">Социальные сети</li>
                        <li class="menu__text"><img src="./img/Vector.png" alt="">VK.com</li>
                        <li class="menu__text"><img src="./img/Vector.png" alt="">Instagram</li>
                        <li class="menu__text"><img src="./img/Vector.png" alt="">Facebook</li>
                        <li class="menu__text"><img src="./img/Vector.png" alt="">Twitter</li>
                    </ul>
                </div>
                <div class="menu__border"></div>
                <p class="menu__text">(с) 2019. Все права защищены.</p>
            </div>
        </div>
    </DIV>

</body>

</html>