.card {
    position: relative;
    background: #E5E5E5;

    &__content {
        position: absolute;
        top: -220px;
        left: 190px;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }

    &__col {
        padding-bottom: 85px;
        width: 350px;

        a {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #4985FF;
            text-decoration: underline;
        }

        h4 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #000000;
            max-width: 281px;
            margin: 30px;
        }

        p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 25px;
            color: #999999;
            margin-bottom: 85px;
        }
    }

    &__border {
        border: 1px solid #bdb9b9;
        margin: 15px;
        margin-bottom: 86px;
    }
}