.robot {
    height: 490px;
    background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 100px;

        h1 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 53px;
            color: #FFFFFF;
            max-width: 540px;
        }

        button {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            color: #FFFFFF;
            background: #4985FF;
            box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
            border-radius: 30px;
            border: none;
            width: 200px;
            height: 45px;
        }
    }
}